<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.brainrot.harrysharma/Brainrot"
			class = "harrysharma.brainrot.brainrot.BrainrotPackage"
			genModel = "model/generated/Brainrot.genmodel" />
	</extension>
</plugin>
